@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">
        ASP.NET SignalR is great library for ASP.NET developers that makes developing real-time web functionality easy.
        SignalR allows bi-directional communication between server and client. Servers can now push content to connected
        clients instantly as it becomes available. SignalR supports Web Sockets, and falls back to other compatible
        techniques for older browsers. SignalR includes APIs for connection management (for instance, connect and
        disconnect events), grouping connections, and authorization. (Git)
    </p>
    <p><a href="http://www.asp.net/signalr" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>What is SignalR 2.0 and how to get started adding real-time functionality to a web application.</p>
        <p><a class="btn btn-default" href="http://www.asp.net/signalr/overview/signalr-20/getting-started-with-signalr-20/introduction-to-signalr">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Supported Platforms</h2>
        <p>SignalR is supported under a variety of server and client configurations.</p>
        <p><a class="btn btn-default" href="http://www.asp.net/signalr/overview/signalr-20/getting-started-with-signalr-20/supported-platforms">Learn more &raquo;</a></p>
    </div>
</div>